# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/           # if you named your env folder “.env”
.venv/          # common alternative
env/
ENV/

# macOS
.DS_Store



# Python tooling
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache/


.env*
